@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-item {
    @apply border-b border-[#0c144e] py-2;
  }
  .submenu-item {
    @apply  py-2 bg-d-blue;
  }
}

.title::after{
  content: "";
  position: absolute;
  left: 0;
  top: 23px;
  width: 30px;
  height: 3px;
  background-color: #D60A0B;
}

/* .menu-item:hover a span {
  color: #263AC3 !important;
} */

.ps-menu-button:hover{
  background-color: transparent !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
